# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
certifi=2024.7.4
cffi=1.16.0
func-timeout=4.3.5
gurobipy=11.0.2
intel-openmp=2023.1.0
keras=2.12.0
keras-preprocessing=1.1.2
mkl=2023.1.0
ncurses=6.4
numpy=1.23.5
pillow=10.4.0
protobuf=3.20.3
python=3.10.13
readline=8.2
scikit-learn=1.4.2
scipy=1.13.1
tensorboard=2.12.1
tensorflow=2.12.0
tqdm=4.66.4
wheel=0.43.0
zlib=1.2.13
